/* Code tidied up by ScrapBook */
@font-face {
    font-family: "NanumGothic";
    src: url("../images/NanumGothic.eot") format("embedded-opentype"), url("../images/NanumGothic.woff") format("woff"), url("../images/NanumGothic.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
}

body, td, th, div, span, input, select, textarea {
    font-family: "NanumGothic", "나눔고딕";
    font-size: 12px;
    color: rgb(125, 125, 125);
    line-height: 16px;
}

body {
    height: 100%;
    overflow-y: scroll;
    -moz-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, span, table, th, td, textarea {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol, dl, dd, dt, li {
    list-style-type: none;
}

img, th, td, fieldset, iframe {
    border: 0px none;
}

img {
    border: 0px none;
    vertical-align: top;
    outline: medium none;
}

table, tbody, tfoot, thead, tr, th, td {
    border-collapse: collapse;
}

textarea {
    border: 1px solid rgb(209, 209, 209);
    height: 120px;
}

input, select, label {
    vertical-align: middle;
}

a:link {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

a:visited {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

a:hover {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

a:active {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

#wrap {
    width: 100%;
    min-width: 1000px;
}

#header {
    width: 100%;
    height: 180px;
    background: rgb(35, 35, 35) none repeat scroll 0% 0%;
}

#header > div {
    position: relative;
    width: 1000px;
    margin: 0px auto;
}

#logo {
    position: absolute;
    width: 250px;
    left: 371px;
    top: 40px;
    z-index: 99;
}

#topmenu {
    position: absolute;
    width: 980px;
    height: 75px;
    right: 160px;
    top: 53px;
}

#login {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 30px;
}

#login li {
    display: inline;
    line-height: 30px;
    padding: 0px 8px;
    background: rgba(0, 0, 0, 0) url("../images/login_line.gif") no-repeat scroll left 50%;
}

#login li:first-child {
    padding-left: 0px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}

#login li:last-child {
    padding-right: 0px;
}

#login li a {
    font-size: 10px;
    color: rgb(143, 143, 143);
}

#login li a:hover {
    color: rgb(101, 101, 101);
    text-decoration: none;
}

#footer {
    width: 100%;
    background: rgb(35, 35, 35) none repeat scroll 0% 0%;
    padding: 60px 0px 100px;
}

/* Code tidied up by ScrapBook */
#visual_tab {
    position: relative;
    width: 100%;
    height: 522px;
    margin: 0px auto;
    overflow: hidden;
}

#img_tab {
    vertical-align: top;
}

#img_tab p {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#btn_list {
    position: absolute;
    width: 80px;
    height: 12px;
    bottom: 20px;
    left: 50%;
    padding: 0px;
    margin-left: -40px;
    z-index: 9300;
}

#btn_list p {
    float: left;
    padding: 0px;
    margin: 0px;
}

#btn_list img {
    margin-right: 5px;
}

/* Code tidied up by ScrapBook */
#sub_visual {
    width: 100%;
    height: 210px;
    text-align: center;
    background: rgb(106, 106, 108) none repeat scroll 0% 0%;
}

#container {
    width: 1000px;
    margin: 0px auto 50px;
}

#container::after {
    content: "";
    display: block;
    clear: both;
}

#leftmenu {
    float: left;
    width: 220px;
}

#leftmenu .subNavi {
    margin-top: 30px;

}
.subNavi li a{
    width:220px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    color: #000;
    background-color: #fff;
    border-bottom: #949499 1px solid;
    position: relative;
}
.subNavi li a::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top:20px;
    left: 15px;
    background:url("../images/li_bg.png") left center no-repeat;
    display: none;
}
.subNavi li a.active{
    background-color: #e7e7e7;
}
.subNavi li a.active::after{
    display: block;
}
.subNavi li:hover a{
    background-color: #e7e7e7;
}
.subNavi li:hover a::after{
     display: block;
 }

#contents {
    float: right;
    width: 740px;
}

#contents .con_title p {
    text-align: right;
    margin-top: 25px;
}

#contents .con_title strong {
    font-weight: normal;
    color: rgb(55, 55, 55);
}

#contents .con_title h3 {
    width: 740px;
    height: 35px;
    padding: 25px 0px 5px;
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 35px;
    color: rgb(55, 55, 55);
    font-weight: bold;
    letter-spacing: -1px;
}

#contents .con_txt {
    margin-top: 40px;
}

.mapinfo {
    margin-top: 25px;
}

/* Code tidied up by ScrapBook */
#navi {
    position: relative;
    width: 980px;
    height: 50px;
    text-align: left;
    top: 40px;
    left: 90px;
}

.navi_main {
    float: right;
    height: 17px;
    position: relative;
    top: 0px;
    right: 0px;
}

.navi_main li {
    float: left;
    margin-left: 85px;
}

.navi_sub {
    display: block;
    position: absolute;
    top: 24px;
    height: 30px;
}

.navi_sub_1 {
    left: 24px;
}

.navi_sub_2 {
    left: 254px;
}

.navi_sub_3 {
    left: 720px;
}

.navi_sub_4 {
    right: -30px;
}

.navi_sub_menu {
    background: rgb(250, 97, 97) none repeat scroll 0% 0%;
    margin-top: 5px;
}

.navi_sub_menu li {
    float: left;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.navi_sub_menu li a {
    color: rgb(136, 136, 136);
    font-size: 11px;
}

.navi_sub_menu li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Code tidied up by ScrapBook */
.footer_area {
    width: 980px;
    margin: 0px auto;
}

.footer_area::after {
    content: "";
    display: block;
    clear: both;
}

.footer_logo {
    float: left;
    width: 211px;
}

.footer_info {
    float: right;
}

.footer_info ul {
    float: right;
    height: 25px;
}

.footer_info li {
    display: inline;
    background: rgba(0, 0, 0, 0) url("../images/footer_menu_line.gif") no-repeat scroll left center;
    padding: 0px 5px;
}

.footer_info li:first-child {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    padding-left: 0px;
}

.footer_info li:last-child {
    padding-right: 0px;
}

.footer_info .address {
    clear: both;
    text-align: right;
}

.footer_info .copyright {
    padding-top: 5px;
    font-size: 10px;
}


.site_navi { width:100%; text-align:right; font-size:11px; color:#838383; border-bottom:1px solid #ddd; padding-bottom:7px;}
.contents_sub { width:100%; margin:0; }
.contents_sub table {width:100%;}
.contents_sub table img {padding-top:2px;}

.board_top {width:100%; overflow:hidden; margin-top:45px;}
.board_top .f_search {float:right; width:380px; text-align:right;}
.board_top .bold {float:left; width:200px; margin:10px 0;}

.board_title { font-size:14px; font-weight:bold; color:#000; }
.coment_number { font:bold 10px verdana; color:#6fa800; }
.board { width:100%; }
.board th { height:41px; border-bottom:1px solid #dadada; background-color:#f9f9fb; color:#464646; font-weight:600; word-wrap: break-word; border-top:1px solid #464646; word-break: break-all; }
.board td { height:30px; border-bottom:1px solid #dadada; color:#797979; text-align:center; padding:5px; word-wrap: break-word; word-break: break-all; }
.board td.left {text-align:left;}
.board td.category{ font-weight:bold; }

.board_input { border:1px solid #cecece; height:24px; width:160px;}

/* Paging */
.paginate_regular {padding:10px 0;text-align:center;line-height:normal;}
.paginate_regular a,
.paginate_regular strong{display:inline-block;position:relative;margin:0 -2px;padding:2px 8px;font-weight:600;/*font-family:Tahoma,Sans-serif;*/line-height:normal;text-decoration:none;vertical-align:middle;}
.paginate_regular a:hover,
.paginate_regular a:active,
.paginate_regular a:focus {background-color:#f8f8f8;}

.paginate_regular strong{color:#f60;}
.paginate_regular .direction{font-weight:normal;color:#767676;white-space:nowrap;}
.paginate_regular .direction span{font-weight:bold;font-size:14px;}

.paginate_regular .direction:hover,
.paginate_regular .direction:active,
.paginate_regular .direction:focus {background-color:#fff;color:#333;}

/* Button */
.btn_write { display:inline-block; background:#5f5f5f; border:1px solid #404144;padding:6px 17px 7px 17px;}
.btn_txt01 {color:#fff; font-weight:600;}
.btn_search { display:inline-block; color:#333; padding:4px 16px 6px 26px; background:url(/images/basic_blue/board/btn_search_bg.gif) no-repeat 0 0;}

/* Align*/
.align_right {text-align:right; margin:10px 0; overflow:hidden;}
.align_right button {float:right;}
.tR {text-align:right;}

/* Color */
.txt_blue { font-weight:bold; color:#7ab5df; }
.txt_orange { font:bold 12px verdana; color:#ff7e00; }




/* Code tidied up by ScrapBook */
.site_navi {
    width: 100%;
    text-align: right;
    font-size: 11px;
    color: rgb(131, 131, 131);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 7px;
}

.contents_sub {
    width: 100%;
    margin: 0px;
}

.contents_sub table {
    width: 100%;
}

.board_view {
    border-top: 1px solid rgb(70, 70, 70);
}

.board_title {
    font: bold 14px dotum;
    color: rgb(0, 0, 0);
}

.bold_blue {
    font: bold 12px dotum;
    color: rgb(122, 181, 223);
}

.board_view table {
    border-collapse: collapse;
}

.board_view th, .board_view td {
    height: 25px;
    text-align: left;
    padding: 8px;
}

.board_view th {
    border-bottom: 1px solid rgb(218, 218, 218);
    color: rgb(70, 70, 70);
    font-weight: 600;
    background-color: rgb(242, 242, 242);
}

.board_view td {
    border-bottom: 1px solid rgb(218, 218, 218);
    color: rgb(121, 121, 121);
}

.board_view_area {
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(242, 242, 242);
    height: 100px;
    width: 500px;
}

.board_view_input {
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(242, 242, 242);
    height: 12px;
    width: 500px;
}

.board_view_input_mail {
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(242, 242, 242);
    height: 12px;
    width: 100px;
}

.board_view_input_number {
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(242, 242, 242);
    height: 12px;
    width: 30px;
}

.board_view td.tip {
    color: rgb(122, 181, 223);
}

.coment_input {
    border: 1px solid rgb(187, 187, 187);
    height: 20px;
    width: 80px;
}

.coment_input_text {
    border: 1px solid rgb(187, 187, 187);
    width: 100%;
    height: 60px;
}

.page {
    text-align: right;
    font: 11px verdana;
    padding: 5px;
}

.view_box {
    border: 1px solid rgb(210, 210, 210);
    padding: 10px;
}

.veiw_box_td {
    border-bottom: 1px dotted rgb(210, 210, 210);
    padding: 5px;
}

.veiw_box_td2 {
    padding: 5px;
}

.coment_re {
    font: 11px dotum;
    padding: 5px;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px dotted rgb(210, 210, 210);
    overflow-wrap: break-word;
    word-break: break-all;
}

.coment_re_txt {
    background-color: rgb(250, 250, 250);
    line-height: 15px;
    padding: 5px 0px 0px;
}

.coment_re_txt img {
    padding-top: 2px;
}

.upload_db_wrap td {
    border-bottom: 0px none;
}

.upload_db_wrap div {
    padding: 3px 0px 0px;
}

.btn_write {
    display: inline-block;
    background: rgb(95, 95, 95) none repeat scroll 0% 0%;
    border: 1px solid rgb(64, 65, 68);
    padding: 6px 17px 7px;
}

.btn_list {
    display: inline-block;
    background: rgb(252, 252, 252) none repeat scroll 0% 0%;
    border: 1px solid rgb(188, 188, 188);
    padding: 6px 17px 7px;
}

.btn_re {
    display: inline-block;
    width: 100px;
    height: 62px;
    text-align: center;
    background: rgba(0, 0, 0, 0) url("../images/btn/btn_comment_bg.gif") no-repeat scroll 0% 0%;
}

.btn_txt01 {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.btn_txt02 {
    color: rgb(31, 31, 31);
    font-weight: 600;
}

.btn_area {
    overflow: hidden;
    margin: 10px 0px;
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}

.align_right button {
}

.align_left button {
}

.tR {
    text-align: right;
}

.pR10 {
    padding-right: 10px;
}

.next_data_area {
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 8px;
    text-align: left;
    border-top: 1px solid rgb(218, 218, 218);
}

.prev_data_area {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.next_data_area .b {
    font-weight: bold;
}

.prev_data_area .b {
    font-weight: bold;
}

.txt_blue {
    font-weight: bold;
    color: rgb(122, 181, 223);
}

.txt_orange {
    font: bold 12px verdana;
    color: rgb(255, 126, 0);
}

.bg01 {
    background-color: rgb(250, 250, 250);
}



.goods::after{
    content: "";
    display: block;
    clear: both;
}
.goods .goods_item{
    width:30%;
    margin-right: 3%;
    float: left;
}
.goods .goods_item img{
    width: 100%;
}
.goods .goods_item p{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.goods .goods_item a:hover{
    color: #fff;
}
.goods .goods_item a:hover p{
    background-color: #232323;
}
.goods_info{
    width: 100%;
}
.goods_info p{
    padding: 10px;
    border-top: 2px #000 solid;
    border-bottom: 1px #999999 solid;
    overflow: auto;
}

.goods_info p span{
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    font-size: 14px;
}.goods_info p span:first-child{
    font-weight: bold;
 }
 .goods_con img{
     max-width: 100%;
     margin: 0 auto;
 }

 .contact_info{
     margin: 50px 0;
 }
 .contact_info p, .contact_info p span{
     padding: 10px 0;
     font-size: 20px;
     color: #1f1f1f;

 }