/* Code tidied up by ScrapBook */
@font-face {
    font-family: "NanumGothic";
    src: url("../images/NanumGothic.eot") format("embedded-opentype"), url("../images/NanumGothic.woff") format("woff"), url("../images/NanumGothic.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
}

body, td, th, div, span, input, select, textarea {
    font-family: "NanumGothic", "나눔고딕";
    font-size: 12px;
    color: rgb(125, 125, 125);
    line-height: 16px;
}

body {
    height: 100%;
    overflow-y: scroll;
    -moz-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, span, table, th, td, textarea {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol, dl, dd, dt, li {
    list-style-type: none;
}

img, th, td, fieldset, iframe {
    border: 0px none;
}

img {
    border: 0px none;
    vertical-align: top;
    outline: medium none;
}

table, tbody, tfoot, thead, tr, th, td {
    border-collapse: collapse;
}

textarea {
    border: 1px solid rgb(209, 209, 209);
    height: 120px;
}

input, select, label {
    vertical-align: middle;
}

a:link {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

a:visited {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

a:hover {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

a:active {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

#wrap {
    width: 100%;
    min-width: 1000px;
}

#header {
    width: 100%;
    height: 180px;
    background: rgb(35, 35, 35) none repeat scroll 0% 0%;
}

#header > div {
    position: relative;
    width: 1000px;
    margin: 0px auto;
}

#logo {
    position: absolute;
    width: 250px;
    left: 371px;
    top: 40px;
    z-index: 99;
}

#topmenu {
    position: absolute;
    width: 980px;
    height: 75px;
    right: 160px;
    top: 53px;
}

#login {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 30px;
}

#login li {
    display: inline;
    line-height: 30px;
    padding: 0px 8px;
    background: rgba(0, 0, 0, 0) url("../images/login_line.gif") no-repeat scroll left 50%;
}

#login li:first-child {
    padding-left: 0px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
}

#login li:last-child {
    padding-right: 0px;
}

#login li a {
    font-size: 10px;
    color: rgb(143, 143, 143);
}

#login li a:hover {
    color: rgb(101, 101, 101);
    text-decoration: none;
}

#footer {
    width: 100%;
    background: rgb(35, 35, 35) none repeat scroll 0% 0%;
    padding: 60px 0px 100px;
}

/* Code tidied up by ScrapBook */
#visual_tab {
    position: relative;
    width: 100%;
    height: 522px;
    margin: 0px auto;
    overflow: hidden;
}

#img_tab {
    vertical-align: top;
}

#img_tab p {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#btn_list {
    position: absolute;
    width: 80px;
    height: 12px;
    bottom: 20px;
    left: 50%;
    padding: 0px;
    margin-left: -40px;
    z-index: 9300;
}

#btn_list p {
    float: left;
    padding: 0px;
    margin: 0px;
}

#btn_list img {
    margin-right: 5px;
}

/* Code tidied up by ScrapBook */
#sub_visual {
    width: 100%;
    height: 210px;
    text-align: center;
    background: rgb(106, 106, 108) none repeat scroll 0% 0%;
}

#container {
    width: 1000px;
    margin: 0px auto 50px;
}

#container::after {
    content: "";
    display: block;
    clear: both;
}

#leftmenu {
    float: left;
    width: 220px;
}

#leftmenu .subNavi {
    margin-top: 30px;

}
.subNavi li a{
    width:220px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    color: #000;
    background-color: #fff;
    border-bottom: #949499 1px solid;
    position: relative;
}
.subNavi li a::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top:20px;
    left: 15px;
    background:url("../images/li_bg.png") left center no-repeat;
    display: none;
}
.subNavi li a.active{
    background-color: #e7e7e7;
}
.subNavi li a.active::after{
    display: block;
}
.subNavi li:hover a{
    background-color: #e7e7e7;
}
.subNavi li:hover a::after{
     display: block;
 }

#contents {
    float: right;
    width: 740px;
}

#contents .con_title p {
    text-align: right;
    margin-top: 25px;
}

#contents .con_title strong {
    font-weight: normal;
    color: rgb(55, 55, 55);
}

#contents .con_title h3 {
    width: 740px;
    height: 35px;
    padding: 25px 0px 5px;
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 35px;
    color: rgb(55, 55, 55);
    font-weight: bold;
    letter-spacing: -1px;
}

#contents .con_txt {
    margin-top: 40px;
}

.mapinfo {
    margin-top: 25px;
}

/* Code tidied up by ScrapBook */
#navi {
    position: relative;
    width: 980px;
    height: 50px;
    text-align: left;
    top: 40px;
    left: 90px;
}

.navi_main {
    float: right;
    height: 17px;
    position: relative;
    top: 0px;
    right: 0px;
}

.navi_main li {
    float: left;
    margin-left: 85px;
}

.navi_sub {
    display: block;
    position: absolute;
    top: 24px;
    height: 30px;
}

.navi_sub_1 {
    left: 24px;
}

.navi_sub_2 {
    left: 254px;
}

.navi_sub_3 {
    left: 720px;
}

.navi_sub_4 {
    right: -30px;
}

.navi_sub_menu {
    background: rgb(250, 97, 97) none repeat scroll 0% 0%;
    margin-top: 5px;
}

.navi_sub_menu li {
    float: left;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.navi_sub_menu li a {
    color: rgb(136, 136, 136);
    font-size: 11px;
}

.navi_sub_menu li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Code tidied up by ScrapBook */
.footer_area {
    width: 980px;
    margin: 0px auto;
}

.footer_area::after {
    content: "";
    display: block;
    clear: both;
}

.footer_logo {
    float: left;
    width: 211px;
}

.footer_info {
    float: right;
}

.footer_info ul {
    float: right;
    height: 25px;
}

.footer_info li {
    display: inline;
    background: rgba(0, 0, 0, 0) url("../images/footer_menu_line.gif") no-repeat scroll left center;
    padding: 0px 5px;
}

.footer_info li:first-child {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    padding-left: 0px;
}

.footer_info li:last-child {
    padding-right: 0px;
}

.footer_info .address {
    clear: both;
    text-align: right;
}

.footer_info .copyright {
    padding-top: 5px;
    font-size: 10px;
}



.goods::after{
    content: "";
    display: block;
    clear: both;
}
.goods .goods_item{
    width:30%;
    margin-right: 3%;
    float: left;
}
.goods .goods_item img{
    width: 100%;
}
.goods .goods_item p{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.goods .goods_item a:hover{
    color: #fff;
}
.goods .goods_item a:hover p{
    background-color: #232323;
}